.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 15px;
};


.name{
    font-size: xxx-large;

}

.work{
    display: flex;
    align-items: center;
}

.buttons{
    display: inline-flex;

}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 45px;
    max-height: 45px;
    margin: 0px 10px 0px 10px;
    background-color: transparent;
    border: none;
};

.img{
    max-width: 40px;
    max-height: 40px;
}